body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#app {
    max-width: 400px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.purchased {
    text-decoration: line-through;
    background: #2d7e2d;
}

button {
    margin-left: 5px;
}
